<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>darkthemeuid</key>
	<string>theme.fileimport.FEAA7D2F-C820-4B08-8079-C3FFC4918E4E</string>
	<key>lightthemeuid</key>
	<string>theme.fileimport.FEAA7D2F-C820-4B08-8079-C3FFC4918E4E</string>
</dict>
</plist>
